.main-container {
  position: relative;
}
.header {
  height: 70px;
}
.mybtn {
  background-color: #935491;
  color: #fff;
}
.mybtn:hover {
  background-color: #935491;
  color: #fff;
}
.nav-link {
  color: #000;
}
.nav-link:hover {
  color: #935491;
}
.bot {
  height: 50px;
  width: 50px;
  background-color: #a0c0c3;
  position: fixed;
  right: 10px;
  top: 50vh;
}
.bot .bi {
  font-size: 25px;
}
#showpages {
  min-height: 100vh;
}

.footer-text-content-1 {
  height: 200px;
  width: 80%;
}
.app-store {
  height: 50px;
}
.app-store img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.mybtn-2 {
  width: 250px;
  height: 40px;
  border: none;
  font-size: 20px;
  background-color: #cddbdb;
}
input[type="text"] {
  border: 1px solid #000;
  background: transparent;
}
textarea[name="textareas"] {
  border: 1px solid #000;
}
.form-top-1 {
  height: 400px;
}
.form-lower-1 {
  height: 250px;
  background-color: #e8eced;
}
.lower-content {
  height: 200px;
  width: 90%;
}
.lower-content .bi {
  font-size: 20px;
}
input[type="checkbox"] {
  background-color: transparent;
  border: 1px solid #000;
}
.subscribebtn {
  height: 35px;
  width: 100px;
  border: none;
  background-color: #cddbdb;
}
.copyright {
  height: 50px;
}
.bg-container {
  height: 600px;
  background-image: url("../img/bg2.jpg");
  background-position: center;
  background-size: cover;
}
.bg-container .h-text-content-1 h1 {
  letter-spacing: 5px;
  font-size: 50px;
}
.h-text-content-1 p {
  font-size: 20px;
}
.sf-title {
  height: 150px;
}

.card-img-top {
  height: 350px;
  width: 100%;
}
.card-img-top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.location-container {
  height: 600px;
  background-image: url("../img/loc.jpg");
  background-size: cover;
  background-position: center;
}
.location-box {
  height: 500px;
  background-color: rgba(250, 250, 250, 0.7);
  width: 60%;
}
.story {
  height: 300px;
}
.memory-container {
  height: 500px;
}
.memory-content {
  background-color: #e8eced;
}
.memory-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.memo-content-text {
  height: 300px;
  width: 90%;
}
.watch-container {
  height: 300px;
}
.image-gal {
  height: 200px;
}
.image-gal img {
  height: 200px;
  width: 100%;
}
.classes-container {
  height: 350px;
  background-color: #a0c0c3;
}
.classes-container h1 {
  font-size: 60px;
}
.services-nav {
  height: 100px;
}
.services-nav .nav {
  border-bottom: 1px solid #a0c0c3;
}
.services-nav .nav .active {
  border-bottom: 2px solid #935491;
}
.services-card-container .card {
  height: 400px;
}
.services-card-container .card .card-img-top {
  height: 200px;
}
.services-card-container .card .card-img-top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-container-banner {
  height: 300px;
  background-color: #a0c0c3;
}
.story-container {
  height: 500px;
}
.story-container img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.vision-container {
  height: 500px;
}
.vision-container img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.plans-banner {
  height: 300px;
  background-color: #a0c0c3;
}
.price-container .card {
  height: 500px;
}
sup {
  font-weight: 100;
}
.num {
  font-size: 80px;
}
