.main-container {
  position: relative;
}
.header {
  height: 70px;
}
.mybtn {
  background-color: #935491;
  color: #fff;
}
.mybtn:hover {
  background-color: #935491;
  color: #fff;
}
.nav-link {
  color: #000;
}
.nav-link:hover {
  color: #935491;
}
.bot {
  height: 50px;
  width: 50px;
  background-color: #a0c0c3;
  position: fixed;
  right: 10px;
  top: 50vh;
}
.bot .bi {
  font-size: 25px;
}
#showpages {
  min-height: 100vh;
}

.footer-text-content-1 {
  height: 200px;
  width: 80%;
}
.app-store {
  height: 50px;
}
.app-store img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.mybtn-2 {
  width: 250px;
  height: 40px;
  border: none;
  font-size: 20px;
  background-color: #cddbdb;
}
input[type="text"] {
  border: 1px solid #000;
  background: transparent;
}
textarea[name="textareas"] {
  border: 1px solid #000;
}
.form-top-1 {
  height: 400px;
}
.form-lower-1 {
  height: 250px;
  background-color: #e8eced;
}
.lower-content {
  height: 200px;
  width: 90%;
}
.lower-content .bi {
  font-size: 20px;
}
input[type="checkbox"] {
  background-color: transparent;
  border: 1px solid #000;
}
.subscribebtn {
  height: 35px;
  width: 100px;
  border: none;
  background-color: #cddbdb;
}
.copyright {
  height: 50px;
}
